.navbar{
    display: flex;
    margin-top: 1.3rem;
    padding-bottom: 10px;
    align-items: center;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 100;
    
    
    justify-content: space-around;
}

.logos{
    display: flex;
    align-items: center;
    margin-left: 0px;
    
    margin-right: 12px;
}
.logo{
   padding: 0 6px;
   

}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.link{
    padding: 0 10px;
}
.click-button{
    padding: 0 10px;
}

.paste-button {
    position: relative;
    display: block;
    
  }
  
  .button {
    
    padding: 10px 15px;
    
    border: 2px solid transparent;
    border-radius: 15px;
  }
  
  .dropdown-content {
    background-color: white ;
    display: none;
    font-size: 13px;
    position: absolute;
    z-index: 1;
    min-width: 200px;
   
    
  }
  
  .dropdown-content a {
    
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    /* border-bottom: 0.4px solid rgb(164, 162, 162); */
  }
  
  .dropdown-content a:hover {
    background-color: #c9d1cf;
    color: black;
  }
  
  .dropdown-content a:focus {
    background-color: #c9d1cf;
    color: black;
  }
  
  
  .paste-button:hover .dropdown-content {
    display: block;
  }
  